
$main_color: #4051EA;
$font_color: #FFFFFF;
$grey4: #393847;
$grey3: #A8ABC1;
$grey2: #DBDCE9;
$grey1: #FAFAFE;

$barlow: 'Barlow', Avenir, Helvetica, Arial, sans-serif;
$zilla_slab: 'ZillaSlab', Avenir, Helvetica, Arial, sans-serif;

$menu_width: 85px;
$project_container_padding: 115px;

$breakpoint-sm: 600px;
$breakpoint-md: 1200px;

$large-padding: 90px;
$medium-padding: 60px;

// FONT SIZE
$f8: 0.5rem;
$f9: 0.5625rem;
$f10: 0.625rem;
$f11: 0.6875rem;
$f12: 0.75rem;
$f13: 0.8125rem;
$f14: 0.875rem;
$f15: 0.9375rem;
$f16: 1rem;
$f17: 1.0625rem;
$f18: 1.125rem;
$f19: 1.1875rem;
$f20: 1.25rem;
$f21: 1.3125rem;
$f22: 1.375rem;
$f23: 1.4375rem;
$f24: 1.5rem;
$f25: 1.5625rem;
$f26: 1.625rem;
$f27: 1.6875rem;
$f28: 1.75rem;
$f29: 1.8125rem;
$f30: 1.875rem;
$f31: 1.9375rem;
$f32: 2rem;
$f33: 2.0625rem;
$f34: 2.125rem;
$f35: 2.1875rem;
$f36: 2.25rem;
$f37: 2.0625rem;
$f38: 2.125rem;
$f39: 2.1875rem;
$f40: 2.25rem;
$f41: 2.3125rem;
$f42: 2.375rem;
$f43: 2.4375rem;
$f44: 2.5rem;
$f45: 2.5625rem;
$f46: 2.625rem;
$f47: 2.6875rem;
$f48: 2.75rem;
$f49: 2.8125rem;
$f50: 2.875rem;
$f51: 2.9375rem;
$f52: 3rem;
$f53: 3.0625rem;
$f54: 3.125rem;
$f55: 3.1875rem;
$f56: 3.25rem;
$f57: 3.0625rem;
$f58: 3.125rem;
$f59: 3.1875rem;
$f60: 4.25rem;
$f61: 4.3125rem;
$f62: 4.375rem;
$f63: 4.4375rem;
$f64: 4.5rem;
$f65: 4.5625rem;
$f66: 4.625rem;
$f67: 4.6875rem;
$f68: 4.75rem;
$f69: 4.8125rem;
$f70: 5.3125rem;
$f71: 5.3125rem;
$f72: 5.375rem;
$f73: 5.4375rem;
$f74: 5.5rem;
$f75: 5.5625rem;
$f76: 5.625rem;
$f77: 5.6875rem;
$f78: 5.75rem;
$f79: 5.8125rem;
$f80: 6rem;
